*{
    margin: 0;
    padding: 0;
}
/* header styles */
header {
    text-align: center;
    background-color: rgb(251, 251, 251);
}
/* .logo img, h1 {
    border: 1px solid red;
} */
header .logo {
    padding-top: 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
}
.logo img {
    margin: 0;
    padding: 0;
}
.icon {
    /* border: 1px solid red; */
    padding: 0px 30px 0px 0px;
    height: 50px;
    width: 80px;  
}
header ul {
    list-style: none;
    /* border: 1px solid red; */
    margin-top: 10px;
}
header ul li {
    padding-top: 10px;
}
header ul li:last-child {
    padding-bottom: 10px;
}
header ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'poppins';
    text-transform: uppercase;
    font-weight: 600;
}
header ul li a:hover {
    color: blue;
}
header:active, header:focus, header:hover {
    /* Remove hover effects as they might interfere with transparency */
    background-color: rgba(218, 218, 218, 0.8);
}
/* end of header styles */
.background-container{
    background-image: url("./image/pexels-urtimud-14263363.jpg");
    width:100%;
    position: relative;
     background-size: contain;
     background-repeat: no-repeat;

}  

button {
    border: none; /* Remove default borders */
  background: none; /* Remove default backgrounds */
  padding: 0; /* Remove default padding */
  text-decoration: none; /* Remove default underline */
  cursor: pointer; /* Show a pointer when hovering */
  font-weight:300;
  font-size: 16px;
  font-family: "poppins";
  border: blue;
  /* Add a blue underline on click */
  &:active {
    text-decoration:underline;
    text-decoration-color: blue;
}
}
main{
    /* border: 1px red solid; */
    height: 650px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.eng{
    /* border: 1px red solid; */
    padding-top: 0px;
    margin-bottom: 80px;
    margin-left: 40px;
    margin-top: 80px;
    height:300px;
    width:350px;
}
.section1 {
    /* border: 1px red solid; */
    display: flexbox;
    justify-content: flex-end;
    font-family: 'poppins';
    font-weight: bold;
}
.texts{
/* border: 1px red solid; */
align-items: center;
margin-top: 50px;
margin-bottom: 100px;
margin-right: 300px;
margin-left: 400px;
text-align: center;
}
main h1{
    /* border: 1px red solid; */
    font-family: "poppins";
    font-size: xx-large;
    font-weight: 800px;
    color: rgb(235, 228, 228);
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
main h2{
    font-family: "poppins";
    font-size:large;
    font-weight: lighter;
    margin-top: 50px;
    text-align: center;
    color: rgb(231, 228, 228);
    
}
.Area1{
    background-color: rgb(240, 240, 240);
    /* margin:0;
    padding: 0; */
    /* border: 1px red solid; */
}

.section1 h1{
    /* border: 1px red solid; */
    /* font-family: "poppins"; */
    font-size: xx-large;
    font-weight: 800px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-right: 400px;
    margin-bottom: 0px;

}
.section2{
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 10px;
    padding-bottom: 420px;
}
.section2 .eng{
    /* border: 1px red solid; */
    padding-bottom: 60px;
    margin-bottom: 400px;
    height: 400px;
    width: 450px;
}
.icon_space{
    /* border: 1px red solid; */
   display: block;
    align-items: safe;
    width: 200px;
    height: 200px;
    background-color: #4c6659;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    opacity:0.9;
}
nav{
    
    align-items: center;
}
span {
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    margin-right: 200px;
    margin-top: 0px;
    padding-bottom:0px;
    margin-bottom: 200px;
    padding-top: 20px;
  
}
.serve{
    /* border: 1px red solid; */
    margin-top: 40px;
    padding-top: 20px;
    padding-right: 400px;
    margin-bottom: 30px;
}
.icon_space .icon{
    
    padding-right: 0px;
    width: 160px;
    height:120px;
    margin-left: 20px;
}
nav button{
    text-align: center;
    padding-top: 40px;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 800px;
    color: #ffffff;
}
.baseline{
   
    background-color:rgb(240, 240, 240);
    text-align: center;
    margin-left: 400px;
    margin-right: 100px;
    font-family: "poppins";
    color: #000000;
    font-size: 14px;
    font-weight: 100px;
    margin-top: 0%;
    margin-bottom: 50px;
    /* padding-bottom: 30px; */
}
.baseline h1{
    padding-bottom: 10px;
    /* font-family: "poppins"; */
    font-size: xx-large;
    font-weight: 800px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding-right: 50px;
}
.baseline h2{
    font-family: "poppins";
    font-size:large;
    font-weight:normal;
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.our-team{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 500px; 
    background: linear-gradient(#777479 0% , #9ec0ff 80%);
}
.meet{
    background-color:whitesmoke;
    width: 580px;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgb(11, 11, 11);
}
.meet h2{
       text-align: center;
}

.meet hr{
        width: 100%;
        margin: 10px;
}
.members{
    display: flex;
    justify-content: space-between;
}
.Team-mem{
    margin: 8px;

}
.members img{
    width: 100px;
    height:100px;
    margin:10px;
    border-radius: 50%;
}
.members h4,p{
    text-align: center;
    margin:7px;
    font-size: 12px;
}
.help{
    background: linear-gradient( #738bb8 80%);
    /* height: 100%; */

}
.join-us{
    /* border: 1px red solid; */
    background-color:  #53729e;
    padding-left: 20px;
    /* width: 100%; */
    height: 43px;
    
}
.join-us h1{
        font-size: x-large;
        font-weight: bold;
        /* margin-bottom: 20px; Add some margin for spacing */
        text-align: center;
}
.join-us h2{
    font-family: "poppins";
    font-size: 14px ;
    font-weight: lighter;  
    /* text-align: center; */
    padding-top: 5px;
}
footer{

    background-color: #53729e;
    height:45px;
    opacity: 1;
    width: 100%;
    margin-bottom: 0%;
    
}
.network{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* justify-content: space-around; */
    /* gap: 15px; */
    margin-bottom: 0%;
    padding-bottom: 0%;
    /* padding-top: 20px; */

    
}
.network .Icon4{
    /* border: 1px red solid; */
    height: 22px;
    width: 22px;
    margin-bottom: 0%;
    padding-top: 20px;
    padding-left: 20px;
   
}
.network h4{
    font-size:small;
    padding-top: 20px;
    padding-right: 20px;
}
